<a align="center" id="flecha" href="index.html"> Atrás </a>
<div class="bloque container">
    <br>
     <form align="center"  action="http://www.example.com/review.php" method="get">
                <fieldset>
                <legend>
                 Suscribete para más:
                
                </legend>
                <br />
                Nombre:
                <label>
                
                <textarea rows="3" cols="40" id="comments">
                    </textarea>
                
                </label>
                <br />
                Email:
                <label>
                 <textarea rows="3" cols="40" id="comments">
                 </textarea>
                   
                
                </label>
                <br />
                </fieldset>
                <br />
                <fieldset>
                <legend>
                Tu Opinión:
                </legend>
                <br />
                           
                ¿Visitarías otra vez?
                 <br />
                <label>
                <input type="radio" name="rating" value="yes" />
                 Sí
                </label>
                <label>
                 <input type="radio" name="rating" value="no" />
                 No
                 </label>
                 </p>
                 <p>
                     <br>
                 <label for="comments">
                Comentario:
                 </label>
                 <br />
                 <textarea rows="3" cols="40" id="comments">
                </textarea>
                
                 </p>
                 <label>
                  <input type="checkbox" name="subscribe" checked="checked" />
                  Suscríbete para actualizaciones por email
                  </label>
                 <br />
                 <textarea rows="3" cols="40" id="comments">
                </textarea>

            
                    
                 </fieldset>
                 </form>
                </br> 
                <br>
    <div class="ranking-container">
         <div class="title-ranking">
        <h1>Las Peores pizzas</h1>
    </div>
        <div class="album-item uno">
            <div class="informacion">
                <h2 class="nombre">Pizza Hawaiana</h2>
                <p class="texto">El 16 de febrero, el presidente de Islandia tomó partido de forma clara en un debate sin fin: ¿se le puede poner piña a la pizza? En una conversación distendida con alumnos de una escuela, Guðni Th. Jóhannessona aseguró que le gustaría prohibir esta fruta tropical como ingrediente del icónico plato italiano. Es decir: no a la pizza hawaiana. Era una broma que en redes sociales muchos se tomaron tan en serio como los pantalones del perro y el color del vestido, opinando bajo el hashtag #pinneappleonpizza (piña en la pizza).
                </p>
                <small class="ventas">45.503 votos - La Peor. <a href="https://verne.elpais.com/verne/2017/02/25/articulo/1488046510_002089.html">source </a>  </small>
            </div>
            <img class="img-ranking" src="./img/hawaiana.jpg" alt="">
        </div>
        <div class="album-item dos">
            <div class="informacion">
                <h2 class="nombre">Pizza de Chocolate</h2>
                <p class="texto">Para gastarte 4€ en una pizza de chocolate con sabor a bocadillo de kit-kat, esta web amablemente le aconseja que se gaste ese dinero en una tarta del mercadona (o su supermercado más conveniente) de esas preparadas y listas para el consumo. Si se siente atrevido y pudiente económicamente pero no diga que no le avisamos. Esta humilde web solo quiere lo mejor para su bienestar en el ambiente de las pizzas. Aquí tiene horripilantes fotos de pizzas de chocolate:<a href="https://www.google.es/search?biw=1037&bih=747&tbm=isch&sa=1&ei=ar-dWqKgDYiIgAbCpKPQBw&q=pizza+de+chocolate+horrible&oq=pizza+de+chocolate+horrible&gs_l=psy-ab.3...3029.5796.0.6068.9.9.0.0.0.0.253.613.1j2j1.4.0....0...1c.1.64.psy-ab..5.2.192...0j0i8i30k1.0.oe1kLzS5QiA">source </a>
                </p>
                <small class="ventas">38.924 votos - Segunda peor</small>
            </div>
            <img class="img-ranking" src="./img/chocolate.jpg" alt="">
        </div>
        


        <div class="album-item tres">
            <div class="informacion">
                <h2 class="nombre">Pizza de Atún</h2>
                <p class="texto">Es terrible, pero no es la peor. Su receta es bien sencila: Preparación:
                        Escurrir y trocear el atún.  
                        Calentar el aceite de oliva en una sartén y rehogar la cebolla picada 5 minutos. 
                        Añadir el tomate triturado y rehogar 5 minutos más. 
                        Colocar las dos bases de pizza en una bandeja de horno sobre papel sulfurizado. 
                        Repartir por encima la preparación de tomate y cebolla, disponer encima las lonchas de mozarela, el atún desmenuzado y las alcaparras y sazonar con sal y pimienta recién molida. 
                        Rociar con el aceite restante y meter 10 min al horno a 220º. Sacar y servir.
                        <a href="https://www.hola.com/cocina/recetas/2014091973758/pizzas-atun-tomate-mozzarella/">source </a>
                        
                </p>
                <small class="ventas">23.703 votos - Tercera peor</small>
            </div>
            <img class="img-ranking" src="./img/atun.jpg" alt="">
        </div>
    </div>

   



                
</div>