<section class="songs-list ideal">
    
    <div class="ui-status empty">
        No hay ninguna canción
    </div>
    
    <div class="ui-status error">
        Se ha producido un error al cargar la canción
    </div>
    
    <div class="ui-status loading">
        Cargando...
    </div>
    
    <div class="ui-status ideal">
        <article class="song">
            <a href="detail.html">
                <img class="cover" src="img/margarita.jpg" alt="">
            </a>
            <div class="artist">Margarita</div>
            <div class="title">La básica. La próxima vez cúrratelo más. </div>
        </article>
        
        <article class="song">
             <a href="detail.html">
                <img class="cover" src="img/4quesos.jpg" alt="">
             </a>
            <div class="artist">Cuatro Quesos</div>
            <div class="title"> Siempre es una buena eleccion. Más queso = Mejor experiencia</div>
        </article>
        
        <article class="song">
                <a href="detail.html">
                <img class="cover" src="img/peperoni.jpg" alt="">
                 </a>
            <div class="artist">Peperoni</div>
            <div class="title"> No te la pidas muy picante si no eres aventurerx</div>
        </article>
        
        <article class="song">
                <a href="detail.html">
              <img class="cover" src="img/vegetariana.jpg" alt="">
             </a>
            <div class="artist">Vegetariana</div>
            <div class="title">Para sentirte sano aunque te estés metiendo basura en el cuerpo.</div>
        </article>
        
        <article class="song">
                <a href="detail.html">
            <img class="cover" src="img/carbonara.jpg" alt="">
            </a>
            <div class="artist">Carbonara</div>
            <div class="title">Si no te decides entre pasta o pizza, esta es tu elección.</div>
        </article>
        
        <article class="song">
                <a href="detail.html">
             <img class="cover" src="img/funghi.jpg" alt="">
             </a>
            <div class="artist">Funghi</div>
            <div class="title">No entiendo por qué alguien le haría esto a su pizza. Aprecio el intento.</div>
        </article>
        
        <article class="song">
                <a href="detail.html">         
            <img class="cover" src="img/hawaiana.jpg" alt="">
             </a>
            <div class="artist">Hawaiana</div>
            <div class="title">Quien le haga esto a su pizza no tiene alma. Lo siento yo no hago las reglas.</div>
        </article>
        
        <article class="song">
                <a href="detail.html">
            <img class="cover" src="img/barbacoa.jpg" alt="">
          </a>
            <div class="artist">Barbacoa</div>
            <div class="title">Popular pero difícil que no canse.</div>
        </article>
        
        <article class="song">
                <a href="detail.html">
            <img class="cover" src="img/atun.jpg" alt="">
        </a>
            <div class="artist">Atún</div>
            <div class="title">prima de la hawaiana, parad.</div>
        </article>
        
        <article class="song">
                <a href="detail.html">
            <img class="cover" src="img/chocolate.jpg" alt="">
        </a>
            <div class="artist">Chocolate</div>
            <div class="title">esto no es una pizza, es una tarta.</div>
        </article>
        
    </div>
    
</section>